/*合并支付*/
.totalPrice{padding:0.4rem;display:table;width:100%;background:#fff;border-bottom:1px solid #e4e4e4;border-top:1px solid #e4e4e4;}
.totalPrice p{display:table-cell;vertical-align:middle;font-size:0.32rem;color:#333;}
.totalPrice p.price{font-weight:bold;font-size:0.4rem;color:#ff4858;text-align:right;}

.payItem{padding:0.3rem;display:table;width:100%;}
.payItem .payLeft{width:5.7rem;display:table-cell;vertical-align:top;}
.payItem .payRight{display:table-cell;}
.payItem .payRight input[type="checkbox"]{float:right;}
.payItem h2{font-weight:normal;color:#333;font-size:0.28rem;margin-bottom:0.2rem;line-height:1.3;}
.payItem p{font-size:0.24rem;color:#999;line-height:0.32rem;}
.payItem p span.djs{color:#ffba64;background:url(../images/djsIcon.png) no-repeat center left;background-size:0.18rem 0.2rem;padding-left:0.25rem;margin-left:0.6rem;}
.payItem p span.price{color:#ff4858;float:right;}
.payItem p span.price em{font-size:0.32rem;font-weight:bold;}
.payItem .payLeft span.price .editIcon{margin-left:0.1rem;width:0.26rem;height:0.28rem;display:inline-block;background:url(../images/editIcon.png) no-repeat center center;background-size:0.26rem 0.28rem;}

.payLeft .tripItem{margin-bottom:0.2rem;}
.payLeft .tripItem h2{margin-bottom:0.12rem;font-size:0.32rem;}
.payLeft .tripItem h2 .airIcon{margin:0 0.15rem;width:0.42rem;height:0.19rem;display:inline-block;background:url(../images/air.png) no-repeat center center;background-size:0.42rem 0.19rem;}
.payLeft .tripItem h2 .trainIcon{margin:0 0.15rem;width:0.33rem;height:0.19rem;display:inline-block;background:url(../images/train.png) no-repeat center center;background-size:0.33rem 0.19rem;}
.payLeft .tripItem p span{margin-right:0.1rem;}